BODY	{
	background-color:	#222222;
	color:				  #878787;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		17px;
}

A:link, A:visited {
    text-decoration: 	none;
    border:				    0px;
}

A:hover, A:active {
    text-decoration: 	underline;
    border:				    0px;
}


INPUT, SELECT, TEXTAREA { 
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	color:				#FFFFFF;
	border:				1px solid #878787;
	background-color:	#222222;
}

INPUT.checkbox {
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	color:				#FFFFFF;
	border:				1px solid #878787;
	background-color:	#222222;
}

.sidebuttons { 
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	color:				#000000;
	border:				1px solid #878787;
	background-color:	#D4D4D4;
	
}

.postheader {
	color:				#FFFFFF;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
}

.postheader_small {
	color:				#D4D4D4;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.postlistheader {
	color:				#FFFFFF;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
}

.postlistheader_small {
	color:				#D4D4D4;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.blogtext {
	color:				#000000;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	padding-left:		8px;
	padding-right:		8px;
}

.blogpreview {
	color:				#000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding-left:		8px;
	padding-right:		8px;
}

.commentheader {
	color:				#000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	padding-top:		5px;
}

.comment {
	color:				#000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.avatar {
	color:				#000000;
	border:				1px solid #000000;
}

.copyright {
	color:				#878787;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.favlistheader {
	color:				#FFFFFF;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	padding-left:		3px;
}

.favlist {
	color:				#878787;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding-left:		6px;
}

.sideforms {
	color:				#878787;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding-left:		2px;
}

.formlabels {
	color:				#FFFFFF;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.formcomments {
	color:				#878787;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
}

.listheader {
	color:				#000000;
	background-color:	#C90000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	text-align:			center;
}

.listrow {
	color:				#878787;
	background-color:	#222222;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	border:				1px solid #878787;
}

.listrow2 {
	color:				#878787;
	background-color:	#222222;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		normal;
	border:				1px solid #878787;
}

.listrow3 {
	color:				#878787;
	background-color:	#222222;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		normal;
	border:				none;
}


.faqheader {
	color:				#000000;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	text-decoration:	underline;
}

.faqtitle {
	color:				#000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:		bold;
}

.faqtext {
	color:				#000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding-left:		14px;
	padding-right:		18px;
	text-align:			justify;
}

.pollheader {
	color:				#000000;
	background-color:	#AAAAAA;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		14px;
	font-weight:		bold;
	padding:			2px;
	text-align:			center;
	font-style:			normal;
}

.poll {
	color:				#000000;
	background-color:	#AAAAAA;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding:			5px;
	border:				3px solid #000000;
	width:				30%;
	text-align:     left;

}

.polltitle {
	color:				#000000;
	background-color:	#888888;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	padding:			2px;
	font-style:			normal;
	text-align:     left;
}

.pollbutton {
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	color:				#FFFFFF;
	border:				1px solid #888888;
	background-color:	#000000;
	font-style:			normal;
	text-align:			center;
}

.postlistheader {
	color:				  #FFFFFF;
	background:     #888888;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:		bold;
	text-decoration:	none;
	padding:        4px;
}

.postlisttext {
	color:				  #000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:		normal;
}

.contentlist1 {
	color:				  #000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:		normal;
	background:     #BFBFBF;
	
}

.contentlist2 {
	color:				  #000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:		normal;
	background:     #AEAEAE;
}

.contentlistactive {
	color:				  #000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:		normal;
	background:     #DADADA;
}

.formlabel {
	color:				  #000000;
	font-size:			12px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		15px;
	font-weight:    bold;
}

.formtext {
	color:				  #000000;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	font-weight:    normal;
	
}

.messageheader
{
	font-family: 			Verdana, Arial, Helvetica, sans-serif;
  font-size: 				10pt;
	color:					  #000000;
	background-color: #777777;
	text-align:				left;
	vertical-align:		top;
	margin:					  1px;
	border-collapse:	collapse;
	padding:          4px;
}

.messagecontrols
{
  font-family: 			Verdana, Arial, Helvetica, sans-serif;
  font-size: 				7pt;
	line-height:			13px;
	color:					  #000000;
	background-color: #ADADAD;
	text-align:				left;
	vertical-align:		top;
	padding:				  2px;
	margin:					  1px;
	border:					  1px;
	border-collapse:	collapse;
}

.messagecontrols a:link, .messagecontrols a:visited
{
  font-family: 			Verdana, Arial, Helvetica, sans-serif;
  font-size: 				7pt;
	line-height:			13px;
	color:					  #000000;
	text-decoration:	none;
}

.messagecontrols a:hover
{
  font-family: 			  Verdana, Arial, Helvetica, sans-serif;
  font-size: 				  7pt;
	line-height:			  13px;
	color:					    #000000;
	text-decoration:		underline;
}

.messagebody
{
	font-family:	 		Courier New, Courier, Lucida Sans, monospace;
	font-size: 				9pt;
	line-height:			14px;
	color:					  #000000;
	background-color: #ADADAD;
	text-align:				left;
	vertical-align:		top;
	border:					  1px;
	padding-top:			5px;
	padding-left:			10px;
	padding-right:		15px;
	padding-bottom:		10px;
	margin:					  2px;
	border-collapse:	collapse;
}

.whitebold
{
	font-family:	 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 				12pt;
	line-height:			14px;
	color:					  #FFFFFF;
	text-align:				left;
	vertical-align:		top;
	font-weight:      bold;
}

.greybold
{
	font-family:	 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 				12pt;
	line-height:			14px;
	color:					  #ADADAD;
	text-align:				left;
	vertical-align:		top;
	font-weight:      bold;
}

.commentsearch {
	color:				  #000000;
	background:     #AAAAAA;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding:		    5px;
	text-align:			justify;
	margin-bottom:  10px;
}

.commentsearchheader {
	color:				  #000000;
	background:     #888888;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding:		    5px;
}

.commentsearchhighlight {
	color:				  #000000;
	background:     #AAAAAA;
	font-size:			10px;
	font-family:		Verdana,Arial,Helvetica,sans-serif;
	line-height:		12px;
	padding:		    5px;
}

